
/* title*/
h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  font-weight: lighter;
}

body.backgrounda {
    background-color: yellow;
    /*position: relative;
    padding-inline-end: 50%;*/
    max-width: 1000;
    /*left: -10px;
    top: -10px;
    right: 600px;*/
}

.article-header a {
  color: white;
  text-decoration: underline;
}

h2.dek {
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 12px;
}

.article-header {
  text-align: left;
  margin-bottom: 45px;
  padding-left: 10%;
}


img {
  margin: auto;
  display: block;
 }

.idyll-text-container {
  max-width: 60vw;
  margin-top: 0;
  margin-right: 10%;
  margin-bottom: 0;
  margin-left: 10%;
  background: white;
}

.aside {
  padding: 15px;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  background-color: white;
  color: rgb(27, 27, 27);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  text-align: justify;
}

.d3-component svg {
  background:#6B7A8f;
  max-height: 600px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

.d3-dest-bar {
  text-align:center;
  padding:20px;
  min-width:300px;
}

.d3-dest-map {
  text-align:center;
  padding:20px;
  min-width:300px;
}

.bar-and-map {
    width: 80vw; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  width: 100 vw;
  margin-left: 5vw;
  margin-right: 15vw;
  background:transparent;
}


/* textbox size*/
.idyll-scroll-text .idyll-step {
  color: white;
  max-width: 100vw;
  background: transparent;
  border: none;
  box-shadow: none;
}
.d3-component-container {
  height: 40vw;
  width: 20vw;
  margin-left: 80vw;
}

.idyll-scroll-graphic {

  text-align: center;
  width: 100%;
  background: #6B7A8f;
}

#idyll-scroll-0 > .idyll-scroll-graphic {
  background: #6B7A8f;
}

#idyll-scroll-1 > .idyll-scroll-graphic {
  background: #6B7A8f;
}

@media only screen and (max-width: 600px) {

  /* title*/
  h1 {
    padding-bottom: 0.3em;
    font-size: 3em;
    font-weight: lighter
  }

  .idyll-scroll .idyll-text-container {
    max-width: 70vw;
    background: transparent;

  }
  .idyll-scroll-text .idyll-step {
    max-width: 70vw;
  }

  #idyll-scroll-0 > .idyll-scroll-graphic {
    background: #6B7A8f;
  }

  #idyll-scroll-1 > .idyll-scroll-graphic {
    background: #6B7A8f;
  }
  .d3-component-container {
    height: 100vw;
    width: 31vw;
    margin-left: 72vw;
  }

}

