/* changes the background of the animated scroller*/
.d3-component svg {
  background: #1f2833;
  max-height: 600px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  max-width: 50vw;
}
.idyll-scroll-text .idyll-step {
  max-width: 45vw;
  position:relative; left:0px;
}
.d3-component-container {
  height: 40vw;
  width: 20vw;
  margin-left: 0vw;
}
#idyll-scroll-1 > .idyll-scroll-graphic {
  background: #1f2833;
}
@media only screen and (max-width: 600px) {
  .idyll-scroll .idyll-text-container {
    max-width: 57vw;
    background: #1f2833;

  }
  .idyll-scroll-text .idyll-step {
    max-width: 57vw;
  }
  .d3-component-container {
    height: 100vw;
    width: 31vw;
    margin-left: 65vw;
  }
}

