
/* title*/
h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  font-weight: lighter;
  margin-left: 150px;
}
.article-header {
  text-align: left;
  padding-left: 50px;
  margin-bottom: 45px;
}

img {
  margin: auto;
  display: block;
 }

.idyll-text-container {
  max-width: 60vw;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 200px;
  background: white;
}

.aside {
  display: block;
  position: absolute;
  max-width: 50vw;
  margin-right: 50px;
  margin-left: 0px;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  background-color: white;
  color: rgb(27, 27, 27);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  text-align: justify;
}

.d3-component svg {
  background:#6B7A8f;
  max-height: 600px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  width: 100 vw;
  margin-left: 5vw;
  margin-right: 15vw;
  background: #6B7A8f;
}
/* textbox size*/
.idyll-scroll-text .idyll-step {
  color: white;
  max-width: 100vw;
  background: #6B7A8f;
  border: none;
  box-shadow: none;
}
.d3-component-container {
  height: 40vw;
  width: 20vw;
  margin-left: 80vw;
}

#idyll-scroll-0 > .idyll-scroll-graphic {
  background: #6B7A8f;
}
}
@media only screen and (max-width: 600px) {

  /* title*/
  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    font-weight: lighter
  }

  .idyll-scroll .idyll-text-container {
    max-width: 70vw;
    background: #6B7A8f;

  }
  .idyll-scroll-text .idyll-step {
    max-width: 70vw;
  }
  .d3-component-container {
    height: 100vw;
    width: 31vw;
    margin-left: 72vw;
  }
}

